h1  {
  text-align: center;
  font-family: Tahoma;
  font-size: 14pt;
  font-style: normal;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  height: 55%;
}
.box {
 border: solid;
 border-width: 2px;
 border-color:#5a5a5a;
 width: 360px;
}
h2{
    text-align: left;
    padding-left: 35px;
    font-family: Tahoma;
    font-size: 14pt ;
    font-style: normal; color: white;
    background-color: #8bc144;  width:130px; height: 25px;
    box-shadow: -2px 3px rgba(0, 0, 0, 0.45)
  }
p {
  text-align: center;
}
a {
text-align: center;
text-decoration: none;
background-color: #ff0000; width: 225px; height: 45px; margin-left: 65px;
text-align: center;
font-style: normal; color: white;
padding-top: 7px;
font-family: Tahoma;
font-size: 20pt;
text-shadow: -1px 1px #000000;
box-shadow: 0px 3px #850000;
margin-bottom: 12px;
margin-top: auto;
display: block;
margin-left: auto;
margin-right: auto;
}
.price {
  font-family: Tahoma;
  font-size: 18pt;
  font-weight: bold;
}
